<div class="pagewrap">
    <div class="header">
        <a routerLink="" style="padding-left:100px; margin-top:-5px"><img src="assets/images/clinic.png" height="40px"></a>
        <div style="padding-top: 5px;"><img src="assets/images/phone.png" height="20px"></div>
        <div style="margin-left: -10px; padding-top: 6px; font-size:small;">1900-222-333</div>
        <div style="margin-left: -40px;"><img src="assets/images/notification.png" height="30px"></div>
        <div><img src="assets/images/user.png" height="30px"></div>
        <div style="margin-left: -40px; margin-top: -3px; font-size: small;">Kavya K B<br>Admin</div>
        <div style="padding-top: 5px;"><img src="assets/images/list-view.png" height="20px"></div>
    </div>
    <div class="basecontainer">
        <app-aside></app-aside>
        <app-main></app-main>
    </div>
    <footer>
        Developed by University of Manipal<br>
        Copyright
    </footer>
</div>