<div class="mainsection">
    <div class="todobox">
        <a routerLink="/register"><img src="assets/images/add-user-male-80.png" height="60px"></a>
        <p style="font-size: large; font-weight:550; margin-top: 10px; margin-bottom: 25px;">Register new patient</p>
        <a style="font-size: small; color: green; font-weight:550; text-decoration: none;"
        routerLink="/register">
        Register new</a>
    </div>
    <div class="todobox">
        <a routerLink="/viewpatients"><img src="assets/images/more-info-80.png" height="60px"></a>
        <p style="font-size: large; font-weight:550; margin-top: 10px; margin-bottom: 25px;">Patient details</p>
        <a style="font-size: small; color: green; font-weight:550; text-decoration: none;"
        routerLink="/viewpatients">
        View all patients</a>                           
    </div>
    <div class="todobox">
        <a routerLink="/bookappointment"><img src="assets/images/hospital-3-80.png" height="60px"></a>
        <p style="font-size: large; font-weight:550; margin-top: 10px; margin-bottom: 25px;">Book appointemt</p> 
        <a style="font-size: small; color: green; font-weight:550; text-decoration: none;"
        routerLink="/bookappointment">
        Hospital appointment</a>
    </div>
    <div class="todobox">
        <img src="assets/images/messaging-80.png" height="60px">
        <p style="font-size: large; font-weight: 550; margin-top: 10px; margin-bottom: 25px;">Instant messanger</p> 
        <div style="font-size: small; color: green; font-weight:550;"
        > 
        Send message</div>
    </div>
</div>